@import "~bootstrap/scss/bootstrap";


@font-face {
  font-family: 'herculanum';
  src: url('../styles/assets/Fonts/herculanum.ttf');
}
$background-colour: black;

.login-box{
  display: flex;
  flex-direction: column;
  justify-self:center;
  align-items: center;
}

h1 {
  color: black;
}

//? /////////// HOMEPAGE STYLING

.homepage-container {
  position: sticky;
  width: 50%;
  left: 25%;
  display: flex;
  padding: 2%;
  min-height: 700px;
  justify-content: space-evenly;
  border-radius: 6%;
  box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 0 0 0 2px rgb(255,255,255),0.3em 0.3em 1em rgba(0,0,0,0.3);
}


.homepage-wan-shi-image {
  flex: 1.5;
  background-image: url(./assets/images/wan-shi.svg);
}

.homepage-container-sections-left {
  display: flex;
}

.homepage-text {
  flex: 1;
}

.homepage-container-sections-left {
  flex-direction: column;
}

.homepage-wan-shi-image {
  background-size: contain;
  background-repeat: no-repeat;
}

.homepage-container-sections-right {
  display: flex;
  width: 40%;
  flex-direction: column;
  justify-content: space-evenly;
}

.homepage-container-sections-left {
  width: 50%;
}

.homepage-text {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
}

.homepage-container-sections {
  display: flex;
  align-content: center;
  justify-content: center;
}

.homepage-container-sections.riddle-buttons {
  display: flex;
  flex-wrap: wrap;
  button {
    margin: 10px;
  }
}

//? /////////////// BOOK INDEX PAGE STYLYING - LAYOUT


.books-index-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 50px;
}

.book-link {
  padding: 0 10px;
  margin-bottom: 42px;
}


//? //////////////////// SEARCH STYLING


.book-search-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  color: black;
  font-family: 'herculanum';
}

.book-search-result {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  .book {
    align-self: center;

  }
  .book :hover {
    cursor: none;
  }
}
.search-h2 {
  text-align: center;
  color: black;
  font-family: 'herculanum';
}


//? //////////////////// BOOK STYLING - ANIMATION
.book::after,
.book::before, .book img, .book {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.book {
  cursor: pointer;
  display: block;
  width: 150px;
  height: 220px;
  position: relative;
  background: white;
  z-index: 1;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 9px 20px 0 rgba(0, 0, 0, 0.25);
  overflow: hidden;
  transition: box-shadow 0.3s linear;
}

.book img {
  width: inherit;
  height: inherit;
  transform-origin: 0 50%;
  transform: rotateY(0);
  transition: all 0.45s ease;
}

.book:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25), 0 9px 20px 0 rgba(0, 0, 0, 0.45);
}
.book:hover img {
  transform: rotateY(-25deg);
  box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.2);
}

.book::after,
.book::before {
  content: "";
  display: block;
  width: inherit;
  height: inherit;
  position: absolute;
  z-index: -1;
  top: 0;
  background: white;
  border: 1px solid #d9d9d9;
}

.book::before {
  left: -3px;
}

.book::after {
  left: -6px;
}


.profile-container {
  display: flex;
  border: 2px solid black;
  justify-content: space-around;
}

.profile-info-left {
  flex: 1;
}

.profile-info-right {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.profile-info-right-sections {
  /* display: fl\]; */
  display: flex;
  justify-content: start;
}




//? ////////////////////// NAVBAR STYLING
.navbar {
  justify-content: space-between;
  justify-content: center;
}

.nav-element {
  margin-left: 7px;
  margin-right: 7px;
  padding:5px;
  border-radius: 10px;
  text-align: center;
}
//! //////////////////////////////////////
.book-card {
  width: 280px;
  padding: 16px;
  border-radius: 5px;
}
.book-card .book-card__cover {
  position: relative;
  width: 200px;
  height: 300px;
  margin: 0 auto 8px auto;
  perspective: 1000px;
}
.book-card .book-card__book {
  height: 100%;
  transform-style: preserve-3d;
  transition: all 250ms ease;
}
.book-card .book-card__book-front {
  position: absolute;
  height: 100%;
}
.book-card .book-card__book-back {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  transform: translateZ(-40px);
}
.book-card .book-card__book-side {
  position: absolute;
  top: 5px;
  bottom: 2px;
  right: -29px;
  width: 40px;
  background-size: 5px;
  background-color: #e1e1e1;
  background-image: linear-gradient(to right, #ccc 35%, #e1e1e1 35%);
  opacity: 0;
  transform: rotate3d(0, 1, 0, 90deg);
}
.book-card .book-card__img {
  width: 100%;
  height: 100%;
  background-color: #e1e1e1;
}
.book-card .book-card__title {
  font-size: 1.5em;
  margin-bottom: 8px;
}
.book-card .book-card__author {
  color: #757575;
  font-size: 1em;
}
.book-card:hover .book-card__book {
  transform: rotate3d(0, -1, 0, 30deg) translate(-15px, -30px);
}
.book-card:hover .book-card__book-back {
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.35);
}
.book-card:hover .book-card__book-side {
  opacity: 1;
}
//! ///////////////////////////// 3D ANIMATION END - NOT IN USE ///////////////////
.character-header{
  text-align: center;
  margin: auto;
}
.character-card {
  margin-left: 7px;
  margin-right: 7px;
  padding:5px;
  border-radius: 10px;
  text-align: center;
}



//! ///////////////////////////////////////////

.browserRouter{
height: 100vh;
min-height: 100vh;
}

body.defaultMode{
  font-family: 'herculanum';
  .profile-container{
    background-image: url('./assets/images/AirTile.png');
  }
  .homepage-container{
    border-color:rgb(94, 52, 0);
  }
  .profile-image {
    border-radius: 15px;
    border: 10px solid  rgb(94, 52, 0) !important;
    background-color: sandybrown;
  }
  .form-styling{
    color: beige;
  }
  .primary{
    background-color:deepskyblue;
  }
  .secondary{
    background-color:sandybrown;
  }
  .trim{
    background-color:#fcdc7b;
  }
  .background{
    background-color:rgb(94, 52, 0);
  }
}

body.fireMode{
  font-family: 'herculanum';
  .profile-container{
    background-image: url('./assets/images/FireTile.png');
  }
  .homepage-container{
    border-color:#43203f;
  }
  .profile-image {
    border-radius: 15px;
    border: 10px solid  #43203f !important;
    background-color:#601515;
  }

  .form-styling{
    color: beige;
  }
  h1 {
    color: black;
  }
  .nav-element, .nav-link {
    color: beige !important;
  }
  .dropdown-menu, .dropdown-menu *{
    margin: 0;
    color: beige;
    background-color: #962828 !important;
  }
  .primary{
    background-color: #962828;
  }
  .secondary{
    background-color: #601515;
  }
  .trim{
    background-color: #400b0e;
  }
  .background{
    background-color: #43203f;
  }

}

body.earthMode{
  font-family: 'herculanum';
  .profile-container{
    background-image: url('./assets/images/EarthTile.png');
  }
  .profile-image {
    border-radius: 15px;
    border: 10px solid #54544A !important;
    background-color:#213A27;
  }
  .form-styling{
    color: beige;
  }
  .nav-element, .nav-link{
    color: beige !important;
  }
  .dropdown-menu, .dropdown-menu *{
    background-color: #54544A !important;
    margin: 0;
  }
  .primary{
    background-color: #2D3F2F;
  }
  .secondary{
    background-color: #213A27;
  }
  .trim{
    background-color: #A5A986;
  }
  .background{
    background-color: #54544A;
  }

}

body.airMode{
  .profile-container{
    background-image: url('./assets/images/AirTile.png');
  }
  .profile-image {
    border-radius: 15px;
    border: 10px solid  #99a9a3 !important;
    background-color: #99a9a3;
  }
  font-family: 'herculanum';
  .form-styling{
    color: beige;
  }
  .nav-element, .nav-link{
    color: darkslategrey !important;
  }

  .dropdown-menu, .dropdown-menu *{
    background-color: #54544A !important;
    margin: 0;
  }
  .primary{
    background-color: #c0ddcf;
  }
  .secondary{
    background-color: #b5cec7;
  }
  .trim{
    background-color: #7094b7;
  }
  .background{
    background-color: #99a9a3;
  }
}
body.waterMode{
  .profile-container{
    background-image: url('./assets/images/IceTile.png');
  }
  .nav-element, .nav-link{
    color: darkslategrey !important;
  }
  .profile-image {
    border-radius: 15px;
    border: 10px solid   #B7CEDF !important;
    background-color: #87A6BD;
  }
  font-family: 'herculanum';
  .form-styling{
    color: beige;
  }
  .dropdown-menu, .dropdown-menu *{
    background-color: #B7CEDF !important;
    margin: 0;
  }
  .profile-h3-right{
    background-color:#B7CEDF ;
  }
  .primary{
    background-color: #5D78AB;
  }
  .secondary{
    background-color: #87A6BD;
  }
  .trim{
    background-color: #705D4B;
  }
  .background{
    background-color: #B7CEDF;
  }

}
.profile-image{
  background-image: url('./assets/images/avatar-3.svg');

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  height: 100%;
}
.profile-info-right-sections {
  display: flex;

}

.profile-info-right{
  display: flex;
  justify-content: space-evenly;
}

.profile-info-left{
  margin:30px;

}

.profile-container {

  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
}




//? ////////////////// BOOK SHOW STYLING

.book-show-card {
  align-self: center;
}

.book-show-card-container {
  display: flex;
  justify-content:center;
}